In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/BrainTumor.csv")
df.columns

Index(['Image', 'Class', 'Mean', 'Variance', 'Standard Deviation', 'Entropy',
       'Skewness', 'Kurtosis', 'Contrast', 'Energy', 'ASM', 'Homogeneity',
       'Dissimilarity', 'Correlation', 'Coarseness'],
      dtype='object')

In [ ]:
# droping some column from data set  
dfMod=df.drop(['Image','Mean','Variance','Standard Deviation'],axis=1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3762 entries, 0 to 3761
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Image               3762 non-null   object
 1   Class               3762 non-null   int64
 2   Mean                3762 non-null   float64
 3   Variance            3762 non-null   float64
 4   Standard Deviation  3762 non-null   float64
 5   Entropy             3762 non-null   float64
 6   Skewness            3762 non-null   float64
 7   Kurtosis            3762 non-null   float64
 8   Contrast            3762 non-null   float64
 9   Energy              3762 non-null   float64
 10  ASM                 3762 non-null   float64
 11  Homogeneity         3762 non-null   float64
 12  Dissimilarity       3762 non-null   float64
 13  Correlation         3762 non-null   float64
 14  Coarseness          3762 non-null   float64
dtypes: float64(13), int64(1), object(1)
memory usage: 441.0+ KB

In [ ]:
# showing descripition of data set
dfMod.describe()

             Class      Entropy  ...  Correlation     Coarseness
count  3762.000000  3762.000000  ...  3762.000000   3.762000e+03
mean      0.447368     0.073603  ...     0.955767  7.458341e-155
std       0.497288     0.070269  ...     0.026157   0.000000e+00
min       0.000000     0.000882  ...     0.549426  7.458341e-155
25%       0.000000     0.006856  ...     0.947138  7.458341e-155
50%       0.000000     0.066628  ...     0.961610  7.458341e-155
75%       1.000000     0.113284  ...     0.971355  7.458341e-155
max       1.000000     0.394539  ...     0.989972  7.458341e-155

[8 rows x 11 columns]

In [ ]:
# Target to be predicted by our model
target=['Non-Tumor','Tumor']
print("Tagret to classify after training: ",target)

Tagret to classify after training:  ['Non-Tumor', 'Tumor']

In [ ]:
# Adding target name on the basis of target class
dfMod['ClassName'] =dfMod.Class.apply(lambda x: target[x])

In [ ]:
print("\n printing first five data from dataframe with taget equal to 0:\n")
dfMod[dfMod.Class==0].head()

 printing first five data from dataframe with taget equal to 0:

   Class   Entropy  Skewness  ...  Correlation     Coarseness  ClassName
0      0  0.109059  4.276477  ...     0.981939  7.458341e-155  Non-Tumor
1      0  0.266538  3.718116  ...     0.988834  7.458341e-155  Non-Tumor
4      0  0.146761  4.283221  ...     0.972789  7.458341e-155  Non-Tumor
5      0  0.214086  3.729886  ...     0.976485  7.458341e-155  Non-Tumor
6      0  0.128833  2.930095  ...     0.974745  7.458341e-155  Non-Tumor

[5 rows x 12 columns]

In [ ]:
print("\n printing first five data from dataframe with taget equal to 1:\n")
dfMod[dfMod.Class==1].head()

 printing first five data from dataframe with taget equal to 1:

    Class   Entropy  Skewness  ...  Correlation     Coarseness  ClassName
2       1  0.001467  5.061750  ...     0.978014  7.458341e-155      Tumor
3       1  0.001477  5.677977  ...     0.964189  7.458341e-155      Tumor
9       1  0.003002  4.365000  ...     0.967830  7.458341e-155      Tumor
10      1  0.002436  3.872728  ...     0.968750  7.458341e-155      Tumor
11      1  0.003769  3.623978  ...     0.958601  7.458341e-155      Tumor

[5 rows x 12 columns]

# **Splitting Data set into Training and Testing data sets**

In [ ]:
from sklearn.model_selection import train_test_split
# Droping un-nessasery data and considering important data for training in x
X_train, X_test, y_train, y_test = train_test_split(dfMod.drop(['Class','ClassName'],axis=1), 
                                                    dfMod.Class, test_size=0.2)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=20, random_state=0)
model.fit(X_train, y_train)
pred = model.predict(X_test)
# print(pred)
# X_test['Predicted']=[int(x) for x in pred]
# X_test
df_test=pd.concat([X_test,y_test],axis=1)
df_test['Predicted Class']=pred
df_test[['Class','Predicted Class']]

      Class  Predicted Class
241       0                0
3268      0                0
2801      1                1
3689      1                1
1747      0                0
...     ...              ...
572       0                0
398       0                0
3017      1                1
2219      0                0
3441      1                1

[753 rows x 2 columns]

In [ ]:
print("Accuracy of Trained model: ",model.score(X_test, y_test))

Accuracy of Trained model:  0.9853917662682603

In [ ]:
print("Predicting value for [[0.3,3.5,15,150,0.5,0.06,0.6,5,0.99,8]] using trained model:" , target[model.predict([[0.3,3.5,15,150,0.5,0.06,0.6,5,0.99,8]])[0]])

Predicting value for [[0.3,3.5,15,150,0.5,0.06,0.6,5,0.99,8]] using trained model: Non-Tumor

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99       419
           1       1.00      0.97      0.98       334

    accuracy                           0.99       753
   macro avg       0.99      0.98      0.99       753
weighted avg       0.99      0.99      0.99       753

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_train, model.predict(X_train)))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1660
           1       1.00      1.00      1.00      1349

    accuracy                           1.00      3009
   macro avg       1.00      1.00      1.00      3009
weighted avg       1.00      1.00      1.00      3009